.head_menu_component{
    height:56px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.53;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    

}