.head_logo_component{
    object-fit: contain;

    margin-left: 267px;
}
#head_symbol_logo{
    width: 42px;
    height: 27.5px;
    
    margin-top: 14.9px;
    margin-bottom: 15.6px;
}
#head_eng_logo{
    width: 113px;
    height: 25.6px;

    margin: 15.7px 0px 16.6px 9px;
}