.header_menu_component{
    width: 569px;
    height: 58px;
    margin-right: 259px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fixed_menu #maj{
    margin-left: unset;
}
.fixed_menu, .non_member_menu, .member_menu{
    display:flex;
    flex-direction: row;
}
.header_menu_component p{
    height: 58px;
    width: 92px;
    margin-left: 7px;
    text-align: center;
}
.header_menu_component a{
    height: 22px;
    color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.73;
    letter-spacing: normal;
    text-align: left;
    text-decoration: unset;
}
.member_menu #mymy {
    width: 173px;
}
.member_menu #mymy a{
    color: #ff54c0;
}
.member_menu #mymy img{
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-left: 27px;
}
