.header_logo_component{ 
    margin-left: 267px;
    margin-top: 15px;
    display: block;

    width: 164px;
    height: 43px;
}
.header_logo_component img{
    display: block;
    width: 164px;
    height: 27.5px;
}