.board_container{
    width:1800px;
    margin:0;
    padding:0;
}
.left{
    width: 467px;
    //max-height: 1800px;
    min-height: 1415px;
    padding: 0px;
    border-left: rgba(0, 0, 0, 0.16) 1px solid;
    border-bottom: none;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.16) ;
    float: left;
}
.menu{
    text-decoration: none;
}
.menu>div{
    width: 198px;
    height: 29px;
    float: right;
    display: block;
    font-family: 'Noto Sans CJK KR Medium';
    font-size: 20px;
    padding: 12px 0px 12px 36px;
    color:rgba(0, 0, 0, 0.87);
    font-weight: 500;
    text-decoration: none;
    margin:0px 0px 7px 0px;
}
.menu>div:hover, .menu>div:active{
    background-color: #eceef3;
    color:#574fba;
}
.m_board:visited{
    color:black;
}

.m_board{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.5px;
}


.board{
    float: right;
    display: block;
    font-size: 28px;
    font-weight:900;
    padding: 0px;
    margin: 61px 124px 78px 124px;
    color:#574fba;
    font-family: 'Noto Sans CJK KR Black';
}

.m_board.active{
    color: #574fba;
    font-weight: bold;
    font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.5px;
}
