.right_top{
    width: 100%;
    max-width: 1066px;
    min-width: 220px;
    //width: 600px;
    height: 100%;
    color: #707070;
    //border:solid black 1px;
    padding: 20px 0px 0px 3px;
    display: inline-block;
    margin: 40px 0 0 79px;
    font-weight: 500;
    font-family: 'Noto Sans CJK KR Medium';
}
.box1, .box2, .box3{
    display: inline-block;
    border-right:solid #707070;
    line-height: 1.47;
    padding: 0px 13px;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.43px;
}
.box3{
    color:#574fba;
    border-right:none;
}
.box1:visited, .box2:visited{
    color:black;
}

//--------------

.board2{
    width: 100%;
    max-width: 1066px;
    min-width: 220x;
    //width: 1075px;
    height: 100%;
    margin: 0px 0 0 79px;

    display: inline-block;
    font-size: 28px;
    font-weight:900;
    //border:solid 1px;
    padding: 10px 3px;
    color:#574fba;
    font-family: 'Noto Sans CJK KR Black';
}
.box_1{
    display:inline-block;
    font-size: 15px;
    font-weight: normal;
    color: #707070;
    padding: 0px 10px;
    font-family: 'Noto Sans CJK KR Regular';
}
.button{
    //border:solid black 1px;
    display: block;
    float: right;
    padding: 12px 45px;
    margin: 13px 0px;
    border-radius: 25px;
    background-color: #574fba;
    color:#ffffff;
    font-size: 15px;
    //width: 139PX;
    //height: 45px;
    font-family: 'Noto Sans CJK KR Medium';
}

//-----------

.right_middle{
    width: 100%;
    max-width: 1066px;
    min-width: 220px;
    height: 100%;
    color: #707070;
    //border:solid black 1px;
    display: inline-block;
    font-family: 'Noto Sans CJK KR Medium';
    margin-left: 79px;
}
.table{
    display: table;
    border-collapse: collapse;//separate;
    width:100%;
    padding: 15px 0;
}
.table th{
    //border:solid 1px #707070;
    font-family: 'Noto Sans CJK kr Bold';
    text-align: center;
    border-bottom: solid 2px #707070;
    font-weight: bold;
    font-size: 18px;
    color: #111111;
    line-height: 1.5;
    padding: 0 0 15px 0;
}
.table tr{
    padding: 14px 0;
    border-bottom:solid #707070 1px;
}
//---------------------
.table td{
    font-size: 17px;
    font-family: 'Noto Sans CJK kr Regular';
    text-align: center;
    padding:14px 5px 16px 5px;
    color:#333333
}
.number{
    width: 100px;
}
.title{
    width:630px;
}
.writer{
    width:136px;
}
.date{
    width: 100px;
}
.count{
    width: 100px;
}
.title_{
    text-align: left;
    color: black;
    display: inline-block;
    width: 715px;
    text-decoration: none;
}
