.home_1 {
  width: 1920px;
  height: 575px;
  background-color: #eceef3;
  border: 1px double #eceef3;
  align-items: center;
}

.home_logo {
  margin-top: 28px;
  margin-left: 825px;

  width: 296.5px;
  height: 125px;
  object-fit: contain;
}

.home_img_box {
  margin-left: 678px;
}

.home_img {
  width: 624.1px;
  height: 286.8px;
  object-fit: contain;
}

.home_search_box {
  margin-top: 40px;
  margin-left: 614px;

  width: 732px;
  height: 52px;
  border-radius: 34px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: #ffffff;
}

.home_search {
  font-size: 20px;
  width: 630px;
  outline: none;
  float: left;
  border: 0px;
  padding: 13px;
  border-radius: 34px;
}
input::placeholder {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #a8a8a8;
}
.search_btn {
  width: 70px;
  height: 48px;
  border: 0px;
  background: #ffffff;
  outline: none;
  float: right;
  border-radius: 34px;
}
