.home_2 {
  display: flex;
}
p {
  width: 70px;
  height: 24px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 21px;
}
//빠른메뉴
.menu_Q {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  margin-left: 277px;
  width: 301px;
  height: 64px;
}

.Q_btn {
  width: 301px;
  height: 64px;
  object-fit: contain;
  border: none;
  background-color: #ffffff;
  margin-top: 12px;
}

//공지사항
.Notice {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  width: 324px;
  height: 43px;
}
//우수자료
.good_data {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  width: 324px;
  height: 43px;
}
//회원가입x 홈페이지 로그인
.login {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  width: 344px;
  height: 48px;
}
