.write_form_box1{
    width: 1066px;
    height: 110px;
    font-family: NotoSansCJKkr;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    
    margin-top: 70px;
    border-top: solid 2px #707070;
    
}
.write_title_box, .class_box{
    height: 55px;
    border-bottom: solid 1px #707070;
    display: flex;
    flex-direction: row;

}
.write_form_box1 label{
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #111111;
    background-color: #eceef3;
    
    padding-top: 14px;
}
.write_form_box1 input{
    border:none;
}
#write_title{
    width: 711px;
    height: 27px;
    background-color: #eceef3;

    font-size: 17px;
    font-weight: normal;
    line-height: 1.47;
    text-align: left;
    color: #111111;

    margin: 9px 0px 9px 13px;
    padding: 7px 0px 5px 20px;
}
#class_select{
    width: 359px;

    font-size: 16px;
    font-weight: 500;
    line-height: 3.06;
    text-align: left;
    color: #777c8a;

    padding: 14px 0px 17px 33px;
}
.class_box a{
    width: 53px;
    padding: 4px 5px 3px 0px;
}
#name_prof{
    font-size: 16px;
    font-weight: 500;
    line-height: 3.06;
    text-align: left;
    color: #777c8a;

    padding: 15px 0px 16px 33px;
}

