.write_textarea{
    width: 1047px;
    height: 390px;
    background-color: #eceef3;

    margin: 9px 10px 10px 12px;
    
}
#write_area{
    width: 983px;
    height: 348px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    background-color: #eceef3;
    border:none;
    padding: 21px 32px;
    overflow: auto;
    resize: none;
}