.write_box1{width: 100%;}
.write_box1 table{width: 100%;}
.write_box1 input{border:none;}
.write_box1 input:focus {outline:none;}
.write_box1 label, .write_box1 input, .write_box1 a{display: block;}

.write_box1 table tr{
    display: flex;
    flex-direction: row;
    height: 55px;
    border-bottom: solid 1px #707070;
}
.write_box1 a{      // dropdown btn
    height: 48px;
    width: 48px;
    margin: 4px 3px 5px 0px;
} 
.write_box1 table label{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #111111;
    width: 150px;
    background-color: #eceef3;
    line-height: 55px;  //text 정렬
}
#write_title{
    height: 37px;
    width: 711px;
    background-color: #eceef3;
    margin: auto 0;
    margin-left: 13px;
    
    font-size: 17px;
    line-height: 1.47;
    padding: 7px 0 5px 20px;
}
#class_select, #name_prof{
    font-size: 16px;
    font-weight: 500;
    line-height: 3.06;
    color: #777c8a;
    padding: 14px 0px 17px 33px;
    flex-grow: 1;
}
.write_box1 tr td:first-child{
    width: 52.72045028%;

    display: flex;
    justify-content: space-between;
}
.write_box1 tr td:last-child{ display: flex;}

// dropdown
.write_box1 table div{
    width: 386px;
    height: 541px;
    overflow: hidden;
    padding-top: 12px;
    padding-right: 2.5px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;

    position: absolute;
    top: 301px;
    left: 160px;
}
#write_dropdown_item{    //ul    
    height: 516.5px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 24.5px;
    padding: 13px 0 0 20px;
}
#write_dropdown_item::-webkit-scrollbar {width: 34px;}
#write_dropdown_item::-webkit-scrollbar-track {background-color: transparent;}
#write_dropdown_item::-webkit-scrollbar-thumb {
    border-radius: 15px;
    object-fit: contain;
    background-color: #eceef3;
    border: 13.5px solid #ffffff;
}
#write_dropdown_item::-webkit-scrollbar-button {display: none;}
// 내부
#write_dropdown_item .write_dd_category{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.47;
    letter-spacing: -0.43px;
    color: #000000;
}
#write_dropdown_item .write_dd_category p{
    height: 29px;
    object-fit: contain;
    border-radius: 15px;
    background-color: #eceef3;
    line-height: 29px;
    padding-left: 12px;
    margin-bottom: 0.5px;
}
.write_dd_category .write_dd_class{  
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.4px; 
}
.write_dd_category .write_dd_class li{
    padding:5.5px 0px 6.5px 9.5px;
    margin-left: 3.5px;
    border-bottom: rgba(0, 0, 0, 0.16) 1px solid;
}
.write_dd_category .write_dd_class li:last-child{
    border:none;
}
.write_dd_category .write_dd_class .write_dd_prof{
    font-size: 11px;
    line-height: 1.55;
    letter-spacing: -0.28px;
    color: #afafaf;
    margin-left: 14px;
}
